.page-container {
  display: flex;
  width: 1440px;
  padding: 0px 120px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.about-card {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(27, 7, 44, 0.8);
  backdrop-filter: blur(100px);
}

.about-title {
  align-self: stretch;
  color: #d9d9d9;
  font-family: Roboto, sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
}

.about-description {
  color: #d9d9d9;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}