.footer {
  width: 100%;
  background: rgba(27, 7, 44, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1440px;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 2.5px;
}

.footer-logo {
  height: 20px;
  display: flex;
  align-items: center;
}

.footer-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.highlight {
  color: #00d1b2;
}

.footer-right p {
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.1px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: auto; 
    padding: 16px 0;
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
    gap: 10px; 
  }

  .footer-left {
    justify-content: center;
  }

  .footer-right p {
    text-align: center;
    font-size: 14px;
  }
}

/* Mobile Screen */

@media (max-width: 480px) {
  .footer-logo {
    height: 20px; 
  }

  .footer-brand {
    font-size: 1rem;
  }

  .footer-right p {
    font-size: 13px;
    line-height: 18px;
  }
}
