body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(
      0deg,
      rgba(20, 1, 37, 0.2) 0%,
      rgba(20, 1, 37, 0.2) 100%
    ),
    url(../assets/img/homepage_bg.png) lightgray 50% / cover no-repeat;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  gap: 12px;
}

h1 {
  font-size: 2.5rem;
  margin: 20px 0;
  color: white;
}

.hero-section p {
  font-size: 16px;
  color: #ccc;
}

/* Tablet and mobile screens */
@media (max-width: 768px) {
  .hero-section {
    padding: 30px 15px;
  }
  h1 {
    font-size: 2rem;
  }
}
