.section-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  width: 100%;
  max-width: 1440px;
  padding: 32px 120px;
  margin: 0 auto; 
  gap: 24px;
  overflow-y: visible; 
}


@media (max-width: 768px) {
  .section-container {
    padding: 32px 20px;
  }
}