.filter-box {
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(27, 7, 44, 0.8);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

/* Form Title */
.filter-title {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

/* Form Fields */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

label {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

/* Input Fields & Dropdowns */
.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgba(217, 217, 217, 0.1);
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 16px;
}

.input-field:focus {
  border-color: #0fae96;
  outline: none;
}

/* Button Group */
.button-group {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
}

/* Primary Button */
.btn.primary {
  background: #0fae96;
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-weight: 600;
  text-align: center;
  border: 1px solid #e2dfdf;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn.primary:hover {
  background: #12c1a8;
}

.btn.primary:focus {
  background: #0fae96;
}

.btn.primary:active {
  background: #0c8b78;
}

/* Secondary Button */
.btn.secondary {
  background: #fff;
  color: #1e1e1e;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  font-weight: 600;
  text-align: center;
  border: 1px solid #e2dfdf;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn.secondary:hover {
  background: #f0f0f0;
}

.btn.secondary:focus {
  background: #d6d6d6;
}

.btn.secondary:active {
  background: #e0e0e0;
}
